/* Path: cv.css */
:root {
  font-size: 12pt;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  --heading-font: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  --body-font: Arial, Helvetica, sans-serif;
  --base-color: #222;
  --secondary-color: #8e6f3e;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --accent-color: #8e6f3e;
  --accent-color2: #a17a69;
  --link-color: #0645ad;
  --margin1: 0.3em;
  --margin2: 0.5em;
  --margin3: 1.0em;
  --margin4: 2.5em;
  text-align: left;
  font-family: var(--body-font);
}

html {
  font-family: var(--body-font);
  text-align: left;
}

body {
  color: var(--base-color);
  line-height: 1.25;
  padding: 1em;
  margin: auto;
  max-width: 60em;
  background: #fefefe;
  text-align: left;
}

a {
  color: var(--accent-color);
  font-weight:bold;
  text-decoration: none;
}

a:visited {
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color2);
}

p {
  font-family: var(--body-font);
  margin: var(--margin1) 0;
  line-height: 125%;
  text-align: left;
}

.header {
  font-family: var(--heading-font);
  color: var(--accent-color2);
  font-weight:bold;
  text-align:left;
  margin-bottom: 0.5em;
  margin-top: 0.0em;
  border-bottom: 1px solid #ddd;
}



h1, h2, h3, h4, h5, h6 {
  color: var(--base-color);
  line-height: 100%;
  font-weight: bold;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.0em;
  font-family: var(--heading-font);
}

h2 {
  color: var(--accent-color2);
  border-bottom: 1px solid #ddd;
}

h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: bold;
  margin-left: var(--margin1);
  font-style: italic;
}

h1 {
  font-size: 1.825em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.0em;
}

h5 {
  font-size: 10pt;
}

h6 {
  font-size: 10pt;
}

.content {
  margin-top: var(--margin1);
  margin-bottom: var(--margin1);
  margin-left: var(--margin2);
}

.experience {
  margin-top: var(--margin2);
  margin-bottom: var(--margin1);
}

.experience-header {
  margin-top: var(--margin1);
  margin-bottom: var(--margin1);
}

.experience-header table {
  margin-top: var(--margin1);
  width: 100%;
}

.experience-header p{
  margin-left: 0;
  line-height: 125%;
}

.experience-header table th {
  font-size: 2.0em;
  font-weight: bold;
}

.experience-header table td {
  vertical-align: top;
}

.experience-header table tbody tr td:first-child {
  font-size: 1.0em;
  width: 40%;
  font-weight: bold;
}

.experience-header table tbody tr td:nth-child(2) {
  width: 30%;
  text-align: left;
}

.experience-header table tbody tr td:nth-child(3) {
  width: 20%;
  text-align: left;
  font-style: italic;
}

.experience-header table tbody tr td:nth-child(4) {
  width: 30%;
  text-align: right;

}

.experience-content {
  margin-top: var(--margin1);
  margin-bottom: var(--margin1);
  margin-left: var(--margin3);
  text-align: left;
}

.experience-content ul {
  margin-top: 0;
  margin-bottom: var(--margin1);
  padding-left: var(--margin2);
  text-align: left;
}

.experience-content li {
  margin-bottom: var(--margin1);
}

.info table {
  margin-top: 0em;
  font-weight: normal;
}

.info table tbody tr:nth-child(even) td {
  padding-left: 2.5em;
  font-weight: normal;
}

.info table tbody tr:nth-child(odd) td {
  padding-left: 1.5em;
  font-weight: normal;
}

.publications ol {
  margin-top: 0;
  margin-bottom: var(--margin1);
  margin-left: var(--margin2);
  padding-left: var(--margin2);
  text-align: left;
}

.banner {
  display: flex;
  justify-content: space-evenly;
}

.banner img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 3px;  /* Space between icon and text */
    margin-bottom: 3px;
}

.banner-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.0em;
  width: 20%;
}

.skills p { 
  margin-left: var(--margin1);
  text-align: justify;
}
.skills p::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.kills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0.0em;
  width: 100%;
}

.kills p {
  margin: 0.0em;
  padding: 0.1em 0.0em;

}

table th .contact {
  padding: .2em 0.5em;
  padding-left: 0;
  border-top: 0px solid #ddd;
  border-left: 0px solid #ddd;
}

table td .contact {
  padding: .2em 0.5em;
  margin-right: 10px;
  border-top: 0px solid #ddd;
  border-left: 0px solid #ddd;
  vertical-align: top;
}

.author {
  text-align: center;
}

