<h2 id="affiliations">Affiliations</h2>
<table class="activity">
<tbody>
<tr>
<td>
QuEra Computing
</td>
<td>
Harvard/MIT
</td>
<td>
2022 -
</td>
</tr>
<tr>
<td>
Quantum Science Center
</td>
<td>
Oak Ridge National Lab
</td>
<td>
2020 -
</td>
</tr>
<tr>
<td>
Elmore Emerging Frontiers Center
</td>
<td>
Purdue University
</td>
<td>
2020 -
</td>
</tr>
<tr>
<td>
Purdue Quantum Science and Engineering Institute
</td>
<td>
Purdue University
</td>
<td>
2019 -
</td>
</tr>
<tr>
<td>
Optica
</td>
<td>
Optica
</td>
<td>
2021 -
</td>
</tr>
<tr>
<td>
IEEE Computer Society
</td>
<td>
IEEE
</td>
<td>
2020 - 2021
</td>
</tr>
<tr>
<td>
Purdue Society of Professional Engineers
</td>
<td>
Purdue University
</td>
<td>
2015 – 2016
</td>
</tr>
<tr>
<td>
Wired Vision Games
</td>
<td>
Game Development Group
</td>
<td>
2011 – 2015
</td>
</tr>
<tr>
<td>
First Robotics
</td>
<td>
NASA
</td>
<td>
2013 – 2015
</td>
</tr>
<tr>
<td>
Freedom Chairs (Charity Wheelchair Repair)
</td>
<td>
Indiana Non-Profit
</td>
<td>
2013 – 2015
</td>
</tr>
<tr>
<td>
Project Lead the Way
</td>
<td>
Indiana Non-Profit
</td>
<td>
2011 – 2013
</td>
</tr>
</tbody>
</table>
