
<h2 id="awards">Awards</h2>
<h3 id="fellowships">Fellowships</h3>
<table class="activity">
<tbody>
<tr>
<td>
Summer Undergraduate Research Fellowship
</td>
<td>
Purdue University
</td>
<td>
2017
</td>
</tr>
</tbody>
</table>
<h3 id="grants">Grants</h3>
<table class="activity">
<tbody>
<tr>
<td>
AWS Braket Research Grant
</td>
<td>
Amazon
</td>
<td>
2023 - 2024
</td>
</tr>
<tr>
<td>
ACC 2022 Student Travel Grant
</td>
<td>
ACC 2022
</td>
<td>
2022
</td>
</tr>
<tr>
<td>
Universities Space Research Association Quantum (Cycle 4)
</td>
<td>
NASA Ames Center
</td>
<td>
2020 – 2021
</td>
</tr>
<tr>
<td>
Leadership Computing Facility D-Wave
</td>
<td>
Oak Ridge
</td>
<td>
2020
</td>
</tr>
</tbody>
</table>
<h3 id="competitions">Competitions</h3>
<table class="activity">
<tbody>
<tr>
<td>
2nd Place National Rube Goldberg Competition
</td>
<td>
Purdue University
</td>
<td>
2016
</td>
</tr>
<tr>
<td>
2nd Place Purdue First Robotics Regionals
</td>
<td>
Purdue University
</td>
<td>
2014
</td>
</tr>
<tr>
<td>
3rd Place IUPUI Mathematics Competition
</td>
<td>
Indiana University Purdue University of Indianapolis
</td>
<td>
2014
</td>
</tr>
</tbody>
</table>
