<h1>Blake Wilson </h1>

<div class = "header">
NanoML Lead Researcher,  QSC Graduate Researcher, Elmore Emerging Frontiers Center Graduate Researcher 
</div>

<table class="banner-table">
    <tr>
        <td><img src="/icons/linkedin.svg" alt="LinkedIn"> <a href="https://www.linkedin.com/in/blake-wilson-406a8256/">LinkedIn</a></td>
        <td><img src="/icons/globe-solid.svg" alt="Website"> <a href="https://www.blakeanthonywilson.com">Personal Website</a></td>
        <td><img src="/icons/globe-solid.svg" alt="Website"> <a href="https://www.nanoml.org">Research</a></td>
        <td><img src="/icons/envelope-solid.svg" alt="Email"> <a href="mailto:wilso692@purdue.edu">wilso692@purdue.edu</a></td>
        <td><img src="/icons/github.svg" alt="GitHub"> <a href="https://www.github.com/btrainwilson">GitHub</a></td>
        <td><img src="/icons/house-solid.svg" alt="Ventura, CA"> Ventura, CA</td>
    </tr>
</table>
