
<h2> Current Positions </h2>


<div class="experience">
  <table>
  <tr>
  <th>Quantum Algorithms Reseacher</th>
  <td></td>
  <td></td>
  <td>2020 - </td>
  </tr>
  </table>
  <div class="info">
  <table>
  <tr><td><a href="https://www.quera.com/">QuEra Computing Inc.</a></td></tr>
  <tr><td>Harvard University Dept. of Physics, MIT Dept. of Physics</td></tr>
  <tr><td><a href="https://qscience.org/">Quantum Science Center </a></td></tr>
  <tr><td>Oak Ridge National Lab, Purdue University</td></tr>
  </table>
  </div>
</div>

<div class="experience">
  <table>
  <tr>
  <th>Scientific Software Research Lab Lead</th>
  <td></td>
  <td></td>
  <td>2021 - </td>
  </tr>
</table>
  <div class="info">
  <table>
  <tr><td><a href="https://engineering.purdue.edu/Elmore-EFC">Emerging Frontiers Center Crossroads of Quantum and AI</a></td></tr>
  <tr><td>Elmore Family School of ECE at Purdue University</td></tr>
  <tr><td><a href="https://nanoml.org">NanoML</a></td></tr>
  <tr><td>Elmore Family School of ECE at Purdue University</td></tr>
  </table>
  </div>
</div>
