
<h2>Expertise</h2>
<ul>
<li><strong>Foundational Physics:</strong> Quantum Information, General
Relativity, Riemannian Geometry, Boltzmann sampling</li>
<li><strong>Machine Learning for Experimental Physics:</strong> semantic
segmentation of plasmonic systems, siamese networks, generative modeling
for fabrication, attention architectures for material design, computer
vision for measurement speed-up, stable diffusion for material design
sampling, quantum-enhanced Boltzmann sampling for quantum bootstrapping
and Bayesian learning</li>
<li><strong>Scientific Software Engineering:</strong> Git, Python, CUDA,
C/C++, Julia, Neovim, Linux, Markdown, Github Organizations, Github
Actions, continuous integration, AWS Braket, D-Wave Cloud, CSS,
HTML</li>
<li><strong>CS Theory:</strong> quantum Turing machines, complexity
theory, asymptotic analysis, algorithm design and analysis, Bayesian
inference, statistical analysis, convex optimization, information
theory, data structures</li>
<li><strong>Computational Electromagnetics:</strong> Finite element
methods, Green’s function, device simulation, numerical methods,
Lumerical</li>
<li><strong>Professional Skills:</strong> Public speaking, science
communication, workforce development, diversity equity and
inclusion</li>
</ul>
