
<h2>  Experience </h2>

<div class="experience">
  <table>
    <tr>
      <td>Quantum Algorithms Researcher</td>
      <td>QuEra Computing</td>
      <td></td>
      <td>2022 - </td>
    </tr>
  </table>
</div>
<ul>
  <li> Developed quantum algorithms with industry partners to solve optimization problems on <b>Amazon Web Services</b>.</li>
  <li> Proved quantum advantage for quantum-enhanced MCMC sampling with applications in machine learning by solving Schrodinger's equation on <b>12</b> atom Rydberg systems and extracting the spectral gap. This work will result in a high-impact publication and has directly led to new industry collaborations for QuEra. </li>
  <li> Designing meta-optical devices for trapping neutral atoms using machine learning optimization algorithms in <b>PyTorch</b> and computational physics code in <b>Lumerical</b>. </li>
  <li>
    Verified early-access versions of <b>Bloqade</b> and <b>Bloqade-python</b>, QuEra's flagship open-source <b>Julia</b> packages for simulating Rydberg atoms. 
  </li>
</ul>

<div class="experience">
  <table class="experience">
    <tr>
      <td>Graduate Research Assistant</td>
      <td>Purdue University</td>
      <td></td>
      <td>2016 - </td>
    </tr>
  </table>
</div>


<h4> Research Impact Highlights </h4>

<ul>

  <li> Leading a research effort with Microsoft to introduce new quantum-inspired energy models in <b>PyTorch</b> and <b>QIOTE</b>, thereby giving Microsoft <b>4 new physics-inspired machine learning models</b> for scientific and industry partnerships.  </li>
<li>Tackled the <b>$75B</b> counterfeit chip market head-on by engineering statistical deep learning, transformer and attention networks leading to a <b>55,000x</b> speed-up and <b>41% accuracy increase</b> in verifying the authenticity of semiconductor devices. This work is submitted to CVPR 2024 with a patent in progress.</li>
<li>
    Demonstrated a <b>162x speed-up</b> using quantum machine learning optimization over state-of-the-art classical optimization algorithms for optimizing optical devices, showcasing the effectiveness of quantum computing in industry and achieving a major milestone for the Quantum Science Center with <b>two news articles and 18 citations</b> <a href="https://pubs.aip.org/aip/sci/article/2021/53/531104/365746/Framework-maps-continuous-space-inverse-design">[1]</a> <a ref="https://engineering.purdue.edu/ECE/News/2022/ece-researchers-develop-quantum-machine-learning-algorithm-for-optimizing-arbitrary-engineering-problems">[2]</a></li>
<li> Developed optimal drone routing algorithms in collaboration with <b>AFRL</b> for risky package delivery missions to assist in search and rescue efforts during natural disasters, resulting in new risk-assessment algorithms for logistics applications. </li>
</ul>

<h4> Resource Management </h4>
<ul>
  <li> Managed a <b>15+</b> member data science team, writing grants to earn <b>$27k</b> in computing credit grants and GPU resources, maintaining <b>Linux</b> servers to save <b>$40k</b> in machine learning server costs, and assisted in raising and using <b>$200k+</b> for putting on the [QSC Summer Schools](https://www.ornl.gov/news/quantum-science-center-concludes-second-annual-summer-school-style). </li>
</ul>

<div class="experience">
  <table class="experience">
    <tr>
      <td>Software Engineer</td>
      <td>ARM</td>
      <td></td>
      <td>2019</td>
    </tr>
  </table>
</div>
<ul>
  <li>Engineered verification software in <b>Python</b>, <b>XML</b>, and <b>C++</b> for comparing coverage of ARM's instruction set, leading to a <b>250%</b> improvement in Chi-Square randomness and resulting in immediate positive feedback from customers for improving test consistency.
  </li>
  <li> Rebuilt 2 <b>ARMv8</b> debug intruction testing in ARM's verification suite to reduce the complexity of debugging for customers.</li>
  <li> Saved a month of lost work by recovering code lost in server backups using Git version control.</li>
</ul>
