<div style="display: flex; margin-top: 5em;">

<div style="text-align: left; line-height:1em; flex: 60%;">
<div style="margin-left:.5em; margin-top:1em;margin-bottom:1em;">
      <h1>About</h1>
</div>
<div style="margin-left:1.5em;">
  <p>I am a Quantum Machine Learning researcher and Ph.D. Candidate at
  Purdue University and the Quantum Science Center at Oak Ridge National
  Lab. I lead a team of machine learning and data science researchers
  through the Elmore Emerging Frontiers Center at Purdue to integrate
  machine learning into quantum device design, optimization algorithms,
  and experiments.</p>
</div>
</div>

<div style="text-align: center; width: 250px; height: auto; ">

<table>
<tr>
<div style="text-align: center; height: auto; flex: 20%;border-radius:50%;">
<img src="/imgs/headshot.jpg" style="border-radius: 50%; height:10em; width:10em; margin: auto auto; object-fit: cover;"/>
</div>
</tr>
<tr>
<table class="banner-table" style="margin-top: 1.5em; width:40%;">
<tr>
<td>
<a href="https://www.linkedin.com/in/blake-wilson-406a8256/"><img src="/imgs/linkedin.svg" alt="LinkedIn"></a>
</td>
<td>
<a href="mailto:wilso692@purdue.edu"><img src="/imgs/envelope-solid.svg" alt="Email"></a>
</td>
<td>
<a href="https://www.github.com/btrainwilson"><img src="/imgs/github.svg" alt="GitHub"></a>
</td>
</tr>
</table>
</tr>
</table>

</div>
</div>
<div style="margin-top:2em;margin-bottom:2em;"/>

<h1 id="our-collaborators">Collaborators</h1>
<div style="display: flex; margin-left:auto; margin-right:auto; margin-top:2em;">
<div style="margin: auto;">
<img class="center" src="/imgs/purdue_logo.jpg" style="height:4em; width:auto; border-radius: 3px;"/>
</div>
<div style="margin: auto;">
<img class="center" src="/imgs/quera.png" style="height:4em; width:auto; padding:0; border-radius: 3px;"/>
</div>
<div style="margin: auto;">
<img class="center" src="/imgs/qsc.jpg" style="height:4em;width:auto;padding:0; border-radius: 3px;"/>
</div>
<div style="margin: auto;">
<img class="center" src="/imgs/microsoft.png" style="height:4em;width:auto;padding:0; border-radius: 3px;"/>
</div>
</div>
