<h2>  Leadership Experience </h2>

<h4> Leadership Positions </h4>

<table class="activity">
    <tr>
        <th>NanoMeta Machine Learning Team Lead</th>
        <td>NanoML Team</td>
        <td>2021 -</td>
    </tr>
    <tr>
        <th>Quantum Science Center Summer School Committee</th>
        <td>Quantum Science Center</td>
        <td>2021 -</td>
    </tr>
    <tr>
        <th>Quantum Science Center PGA Team Lead</th>
        <td>Quantum Science Center</td>
        <td>2021 - 2022</td>
    </tr>
    <tr>
        <th>SURF Graduate Mentor</th>
        <td>Purdue SURF</td>
        <td>2022 -</td>
    </tr>
    <tr>
        <th>Elmore Center Poster Session Committee</th>
        <td>Elmore Center</td>
        <td>2022</td>
    </tr>
    <tr>
        <th>Graduate Teaching Assistant</th>
        <td>Purdue ECE</td>
        <td>2020 - 2021</td>
    </tr>
    <tr>
        <th>SURF Graduate Assistant</th>
        <td>Purdue SURF</td>
        <td>2020</td>
    </tr>
    <tr>
        <th>SURF Symposium Planning Committee</th>
        <td>Purdue SURF</td>
        <td>2020</td>
    </tr>
    <tr>
        <th>Stories of Success: Fireside Chat Host</th>
        <td>Purdue ECE</td>
        <td>2019 - 2020</td>
    </tr>
    <tr>
        <th>ECE Shop Graduate Assistant</th>
        <td>Purdue ECE</td>
        <td>2019 - 2020</td>
    </tr>
    <tr>
        <th>Software Team Lead</th>
        <td>SoCET Team, Purdue</td>
        <td>2018 - 2019</td>
    </tr>
    <tr>
        <th>Resident Assistant</th>
        <td>Purdue University</td>
        <td>2020 - 2021</td>
    </tr>
    <tr>
        <th>Volunteer Robotics Teacher</th>
        <td>Muslim Learning Society</td>
        <td>2014</td>
    </tr>
    <tr>
        <th>First Robotics Software Team Lead</th>
        <td>Plainfield Earthquakers</td>
        <td>2013 - 2015</td>
    </tr>
    <tr>
        <th>Video Game Lead Developer</th>
        <td>Wired Vision Games</td>
        <td>2012 - 2015</td>
    </tr>
</table>

<div class="experience">
  <table>
    <tr>
    <th>Nanophotonics Machine Learning Team Lead</th>
    <td>Purdue Elmore Center </td>
    <td></td>
    <td>2021 – </td>
    </tr>
  </table>
</div>
<ul>
  <li> Lead a team of <b>16</b> data science and physics researchers in nanophotonics, e.g., meta-optics design, fabrication, characterization and measurement, by developing open-source <b>CLI</b> and <b>Python</b> tools for data science, discovering <b>4</b> new foundational AI algorithms, and gearing up for several high-impact publications with ongoing collaborations. </li>
  <li> Since forming the team in 2021, we have given <b>9</b> conference presentations, earned <b>11</b> research awards, and are leading <b>5</b> research efforts in collaboration with Microsoft and QuEra Computing with several publications in the pipeline. </li>
  <li> Mentored undergraduate students into award-winning scientists, directly supporting their applications to earn internships at prestigious companies and research labs such as IBM Watson, Johns Hopkins, Cornell and several others. </li>
  <li> Currently, the team manages four research projects, with three proposals on the way, developing machine learning algorithms for measurement, fabrication, design, and optimization of nanophotonic and quantum devices, e.g., single-photon emitters in silicon nitride, thermophotovoltaic metasurfaces, metalenses for neutral atom trapping, and diffractive metagratings. </li>
</ul>

<div class="experience">
<table>
<tr>
<th>
Postdoctoral and Graduate Student Association Team Lead
</th>
<td>
Quantum Science Center
</td>
<td></td>
<td>
2021 – 2022
</td>
</tr>
</table>
</div>
<ul>
  <li> Played a key role as the representative for all postdoctoral researchers and graduate students on the committee planning the [QSC Summer School](https://www.ornl.gov/news/quantum-science-center-concludes-second-annual-summer-school-style) at Purdue University; a highly-influential, <b>5 day quantum workshop</b> bringing in over <b>120+</b> scientists from Fermilab, Oak Ridge National Lab, Los Alamos, Purdue, Harvard, and many other institutions from within the Quantum Science Center for promoting collaboration, graduate research engagement, and workforce development opportunities.</li>
  <li> Led a team of <b>10</b> researchers providing <b>8</b> fireside chat seminar events, <b>2</b> poster sessions, and <b>2</b> center-wide Quantum Summer School workshops to the QSC with leaders in industry (e.g., IBM Quantum, JPMorgan Chase, ColdQuanta, QuEra, Google), academia, (e.g., Harvard, MIT, Purdue, Technion) and national labs (e.g., Fermilab, Oak Ridge).  </li>
  <li> Assisted in raising <b>$100k+</b> through the <b>Quantum Science Center</b> and industry partners for the facilitation of the QSC Summer School. Played a pivotal role in coordinating <b>2</b> poster sessions, leading <b>5</b> panel discussions, promoting diversity, equity, and inclusion at <b>2</b> underrepresented group career fairs, organizing <b>20+</b> networking events, and inviting speakers at the 2022 and 2023 Quantum Science Center Quantum Summer Schools.  </li>
</ul>
<div class="experience">
<table>
<tr>
<th>
Graduate Assistant
</th>
<td>
Purdue SURF
</td>
<td>
</td>
<td>
2020
</td>
</tr>
</table>
</div>
<ul>
  <li> Mentored a group of <b>20</b> undergraduate researchers in a cohort of <b>120+</b> to lead a research project, write academic papers, earn grants, and win prestigious research awards.</li>
  <li> Collaborated to plan and execute the <b>SURF 2020</b> Symposium, a three day virtual conference showcasing the work of <b>120+</b> SURF Fellows in poster sessions and invited talk formats, and awarded a select few students for best presentation and first-time researcher awards. </li>
  <li> Planned and executed <b>16</b> career development with a team of graduate assistants; hosting and leading seminars, workshops, and panel discussions. </li>
  <li> Guided my group to receive two prestigious first-time researcher awards, along with numerous best-in-group awards during the <b>SURF 2020 symposium</b>. Several students went on to become Ph.D. students at top universities like Cornell, Johns Hopkins, Purdue University, etc., and publish their work in top journals and conferences. </li>

  <li> Curated <b>20</b> manuscripts of multidisciplinary research with notable examples in biomedical imaging, computer science, chemical engineering, microelectronics and micromechanical systems. </li>
</ul>

<div class="experience">
<table>
<tr>
<th>
Fireside Chat Host
</th>
<td>
Purdue ECE Stories of Success
</td>
<td>
</td>
<td>
2020 - 2021
</td>
</tr>
</table>
</div>
<ul>
  <li> Engaged <b>three fireside chats</b> with discussions with Purdue ECE alumni to give <b>200+</b> high school and undergraduate students opportunities to learn from successful alumni who've played key founding roles at Kickstarter, Tesla, and Facebook.</li>
  <li> Developed interview skills through preparing <b>20+</b> core questions with 5-10 curated questions for interviewee by researching their background and taking an interest in their career development. </li>
</ul>

<div class="experience">
<table>
<tr>
<th>
Software Engineer Team Lead
</th>
<td>
Purdue System-on-Chip Team
</td>
<td>
</td>
<td>
2018 - 2019
</td>
</tr>
</table>
</div>
<ul>
  <li> Designed a ROM <b>Verilog</b> compiler pipeline by compiling <b>C</b> self-test code into <b>RISCV</b> machine code and baked into Silicon through a Read-only-Memory baked into our team's custom <b>System-on-Chip</b>. I ensured the proper self-test verification code functionality of a custom 90nm <b>RISCV System-on-Chip</b> at <b>MIT</b> Lincoln Labs, <a ref = "https://engineering.purdue.edu/SoC-Team/about/system-on-chips">the AFTx04</a></li>
  <li> Paved the way for the SOC team's first successful tapeout by completing boot-up code ahead of schedule, allowing extra time for my in-depth debugging of the <b>SOC</b> tapeout and rectifying transistor-level netlist errors. </li>
  <li> This pivotal success not only showcased the team's capabilities but also played a key role in securing future funding and collaborations focused on enhancing machine learning architectures on system-on-chip. </li></ul>

