
<h3 id="mentee-awards">Mentee Awards</h3>
<table>
<tbody>
<tr>
<td>
First Time Researcher Fellowship
</td>
<td>
Advay Welling
</td>
<td>
EURO 2024
</td>
</tr>
<tr>
<td>
First Time Researcher Fellowship
</td>
<td>
Sarthak Tandon
</td>
<td>
EURO 2024
</td>
</tr>
<tr>
<td>
First Time Researcher Fellowship
</td>
<td>
Geetika Chitturi
</td>
<td>
EURO 2024
</td>
</tr>
<tr>
<td>
Qiskit Fall Fest Lead
</td>
<td>
Vaishnavi Iyer
</td>
<td>
2023
</td>
</tr>
<tr>
<td>
Best Poster Presentation
</td>
<td>
Daksh Kumar Singh
</td>
<td>
SURF 2023
</td>
</tr>
<tr>
<td>
Summer Undergraduate Research Fellowship
</td>
<td>
Daksh Kumar Singh
</td>
<td>
SURF 2023
</td>
</tr>
<tr>
<td>
First Time Researcher Fellowship
</td>
<td>
Daksh Kumar Singh
</td>
<td>
EURO 2023
</td>
</tr>
<tr>
<td>
First Time Researcher Fellowship
</td>
<td>
Michael Bezick
</td>
<td>
EURO 2023
</td>
</tr>
<tr>
<td>
IBM Watson Quantum Summer Internship
</td>
<td>
Vaishnavi Iyer
</td>
<td>
2023
</td>
</tr>
<tr>
<td>
Summer Undergraduate Research Fellowship
</td>
<td>
Vaishnavi Iyer
</td>
<td>
2022
</td>
</tr>
<tr>
<td>
Best First Time Researcher Award
</td>
<td>
David Czerwonki
</td>
<td>
SURF 2020
</td>
</tr>
<tr>
<td>
Best First Time Researcher Award
</td>
<td>
Rachel Zhang
</td>
<td>
SURF 2020
</td>
</tr>
</tbody>
</table>
<div style="margin-bottom:0.5em;line-height:100%">
<p>
*These awards were given to my mentees for their incredible work. I
place them on my C.V. because I’m heavily invested in their success and
directly guided the work that contributed to their awards through
editing, ideating, and spending hours of personal time mentoring their
final submissions.
</p>
</div>
<h3 id="personal-accomplishments">Personal Accomplishments</h3>
<table>
<tbody>
<tr>
<td>
Built Zombie Video Game
</td>
<td>
Wired Vision Games
</td>
<td>
2014
</td>
</tr>
<tr>
<td>
Published Android App on Google Play Store
</td>
<td>
Personal Hobby
</td>
<td>
2013
</td>
</tr>
</tbody>
</table>
<h2 id="mentees">Mentees</h2>
<table>
<tbody>
<tr>
<td>
Advay Welling
</td>
<td>
Elmore Center
</td>
<td>
2023 -
</td>
</tr>
<tr>
<td>
Sarthak Tandon
</td>
<td>
Elmore Center
</td>
<td>
2023 -
</td>
</tr>
<tr>
<td>
Trang Do
</td>
<td>
Elmore Center
</td>
<td>
2023 -
</td>
</tr>
<tr>
<td>
Geetika Chitturi
</td>
<td>
Elmore Center
</td>
<td>
2023 -
</td>
</tr>
<tr>
<td>
Lee Dongeun
</td>
<td>
Elmore Center
</td>
<td>
2023 -
</td>
</tr>
<tr>
<td>
Rohan Malavathu
</td>
<td>
Elmore Center
</td>
<td>
2023 -
</td>
</tr>
<tr>
<td>
Rohan Ojha
</td>
<td>
Elmore Center
</td>
<td>
2023 -
</td>
</tr>
<tr>
<td>
Jaxon Pottle
</td>
<td>
Elmore Center
</td>
<td>
2023 -
</td>
</tr>
<tr>
<td>
Daksh Kumar Singh
</td>
<td>
Elmore Center
</td>
<td>
2022 -
</td>
</tr>
<tr>
<td>
Michael Bezick
</td>
<td>
Elmore Center
</td>
<td>
2022 -
</td>
</tr>
<tr>
<td>
Vaishnavi Iyer
</td>
<td>
Elmore Center
</td>
<td>
2021 -
</td>
</tr>
<tr>
<td>
Seoyoung Cho
</td>
<td>
Elmore Center
</td>
<td>
2023
</td>
</tr>
<tr>
<td>
Daria Shkel (Cornell)
</td>
<td>
Purdue SURF
</td>
<td>
2020
</td>
</tr>
<tr>
<td>
Rachel Zhang (University of Michigan)
</td>
<td>
Purdue SURF
</td>
<td>
2020
</td>
</tr>
<tr>
<td>
David Czerwonky (Purdue University)
</td>
<td>
Purdue SURF
</td>
<td>
2020
</td>
</tr>
<tr>
<td>
Emi Mondragon (Johns Hopkins)
</td>
<td>
Purdue SURF
</td>
<td>
2020
</td>
</tr>
</tbody>
</table>
