
<h2> Professional Activities </h2>

<table>
    <tr>
        <th>Committee Member</th>
        <td>QSC Summer School</td>
        <td>2022 -</td>
    </tr>
    <tr>
        <th>Quantum Algorithms Researcher</th>
        <td>QuEra Computing</td>
        <td>2022 - </td>
    </tr>
    <tr>
        <th>Graduate Research Assistant (Alexandra Boltasseva)</th>
        <td>Purdue University</td>
        <td>2019 -</td>
    </tr>
    <tr>
        <th>Advisor</th>
        <td>Qiskit Fall Fest</td>
        <td>2023</td>
    </tr>
    <tr>
        <th>Postdoctoral and Graduate Student Association Team Lead</th>
        <td>Quantum Science Center</td>
        <td>2021 - 2022</td>
    </tr>
    <tr>
        <th>Graduate Research Assistant (Shreyas Sundaram)</th>
        <td>Purdue University</td>
        <td>2021</td>
    </tr>
    <tr>
        <th>ECE Shop Graduate Assistant</th>
        <td>Purdue University</td>
        <td>2019 - 2020</td>
    </tr>
    <tr>
        <th>Software Engineer Intern</th>
        <td>ARM</td>
        <td>2019</td>
    </tr>
    <tr>
        <th>Software Team Lead</th>
        <td>Purdue SoCET Team</td>
        <td>2018 - 2019</td>
    </tr>
    <tr>
        <th>SURF Fellow</th>
        <td>Purdue University</td>
        <td>2017</td>
    </tr>
    <tr>
        <th>Undergraduate Research Assistant</th>
        <td>Purdue University</td>
        <td>2016 - 2019</td>
    </tr>
</table>

<h2> Referee Roles </h2>

<table>
    <tr>
        <th>Reviewer</th>
        <td>Quantum</td>
        <td>2022</td>
    </tr>
    <tr>
        <th>Reviewer</th>
        <td>Nature Communications</td>
        <td>2022</td>
    </tr>
    <tr>
        <th>Reviewer</th>
        <td>Advanced Materials</td>
        <td>2022</td>
    </tr>
    <tr>
        <th>Poster Session Committee</th>
        <td>Elmore Center</td>
        <td>2022</td>
    </tr>
    <tr>
        <th>Online Research Symposium</th>
        <td>Purdue SURF</td>
        <td>2020</td>
    </tr>
</table>


<h2> Teaching Roles </h2>

<table>
    <tr>
        <th>First Time Researcher Fellowship Mentor</th>
        <td>Purdue University</td>
        <td>2022 - </td>
    </tr>
    <tr>
        <th>Graduate Mentor</th>
        <td>Purdue SURF</td>
        <td>2020 - </td>
    </tr>
    <tr>
        <th>Graduate Teaching Assistant (Data Structures and Algorithms)</th>
        <td>Purdue University</td>
        <td>2021</td>
    </tr>
    <tr>
        <th>Graduate Assistant </th>
        <td>Purdue SURF</td>
        <td>2020</td>
    </tr>
    <tr>
        <th>Graduate Teaching Assistant (Advanced C)</th>
        <td>Purdue University</td>
        <td>2020</td>
    </tr>
    <tr>
        <th>Resident Assistant</th>
        <td>Purdue University</td>
        <td>2016 - 2018</td>
    </tr>
</table>

