<h2>Software Engineering Experience</h2>
<div class="experience">
<table>
<tr>
<th>NanoML Team</th>
<td>Elmore Emerging Frontiers Center</td>
<td></td>
<td>2021 -</td>
</tr>
</table>
</div>
<ul>
  <li>Engineering scientific software for GPU-accelerated machine learning, computational physics, and generative AI while identifying research goals, determining requirements, constraints, and dependencies for potential engineering solutions.</li>
  <li> Leading a machine learning research group and mentoring students to work on research problems, build and evaluate prototypes, publish peer-reviewed research, and integrate with and deploy models to production through continuous integration.</li>
  <li>Build academic websites for my team, e.g., <a href="https://www.nanometaml.github.io">NanoML</a>, using <b>HTML, Javascript, and CSS</b> </li>
</ul>
<div class="experience">
<table>
<tr>
<th>
Lumenodes
</th>
<td>
Purdue ECE Senior Design
</td>
<td>
</td>
<td>
2018 - 2019
</td>
</tr>
</table>
</div>
<ul>
<li>Led the firmware development of PWM controller firmware for
controlling a set of synchronized marching band uniform lights for
the Purdue All-American Marching Band.</li>
<li>Project Link: <a
href="https://www.blakewilson.org/lumenodes">https://www.blakewilson.org/lumenodes</a></li>
</ul>
<div class="experience">
<table>
<tr>
<th>
AFTx04 Tapeout
</th>
<td>
Purdue System-on-Chip Team
</td>
<td>
</td>
<td>
2018 - 2019
</td>
</tr>
</table>
</div>
<ul>
  <li>Developed a <b>Python</b> tool to compile <b>C</b> code into onboarded <b>RISCV</b> machine code for a <b>Verilog</b> ROM module compatible with
system-on-chip bus protocols.</li>
  <li>Fixed critical bugs in the system-on-chip, directly leading to the team’s first <b>100%</b> functional SOC and led to future research projects, including integrated machine learning projects, and more funding for the next version of the chip.</li>
  <li>Developed test vectors for verifying AFTx04  with NSWC Crane and
MIT-Lincoln Lab engineers.</li>
</ul>
