<h3 id="extended-software-project-experience">Extended Software Project Experience</h3>
<table class="experience">
<tr>
<th>
Web Development
</th>
<td>
NanoML Team
</td>
<td>
2023 -
</td>
</tr>
<tr>
<th>
Custom Arch Linux Setup
</th>
<td>
Linux
</td>
<td>
2022 -
</td>
</tr>
<tr>
<th>
Neovim Personal Configuration
</th>
<td>
Linux
</td>
<td>
2022 -
</td>
</tr>
<tr>
<th>
ClearML Server Management
</th>
<td>
Linux
</td>
<td>
2022 -
</td>
</tr>
<tr>
<th>
Bloqade Rydberg Atom Simulations
</th>
<td>
QuEra Computing
</td>
<td>
2022 -
</td>
</tr>
<tr>
<th>
NanoML Experiment Manager
</th>
<td>
Python
</td>
<td>
2023
</td>
</tr>
<tr>
<th>
OpenAI Automatic Documentation Builder
</th>
<td>
OpenAI
</td>
<td>
2023
</td>
</tr>
<tr>
<th>
OpenAI + Alexa API Integration
</th>
<td>
OpenAI
</td>
<td>
2022
</td>
</tr>
<tr>
<th>
CEM Codes (Diffraction, Capacitor)
</th>
<td>
Purdue ECE
</td>
<td>
2021
</td>
</tr>
<tr>
<th>
ECE Shop Sign (RGB LED + Web Server)
</th>
<td>
Purdue ECE
</td>
<td>
2019
</td>
</tr>
<tr>
<th>
Bluetooth Controlled Powerstrip
</th>
<td>
Purdue ECE Embedded Sys.
</td>
<td>
2018
</td>
</tr>
<tr>
<th>
32-bit MIPS Processor from scratch
</th>
<td>
Purdue ECE 437
</td>
<td>
2018
</td>
</tr>
<tr>
<th>
VLSI Clock-Tree Synthesis Project
</th>
<td>
Purdue ECE 595
</td>
<td>
2018
</td>
</tr>
<tr>
<th>
Ethernet Packet Sniffer
</th>
<td>
Purdue ECE 337
</td>
<td>
2018
</td>
</tr>
<tr>
<th>
Multiple Pursuers and Sweep-Covers Enumeration
</th>
<td>
Purdue ECE Research
</td>
<td>
2017
</td>
</tr>
<tr>
<th>
8-bit Breadboard PC - Synchronized Clock
</th>
<td>
Personal Hobby
</td>
<td>
2017
</td>
</tr>
<tr>
<th>
Tanvas Image Processing and Material Analysis
</th>
<td>
Northwestern Hackathon
</td>
<td>
2016
</td>
</tr>
<tr>
<th>
Zombie Video Game
</th>
<td>
Wired Vision Games
</td>
<td>
2014
</td>
</tr>
<tr>
<th>
Falling Balls Android Game
</th>
<td>
Personal Hobby
</td>
<td>
2013
</td>
</tr>
</table>
